<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <excludeRobots>
        <processor type="Sitecore.Support.DoNotExcludeForExperienceExplorerRequests, Sitecore.Support.308062" patch:before="processor[@type='Sitecore.Analytics.Pipelines.ExcludeRobots.TryObtainCachedResult, Sitecore.Analytics']" />
      </excludeRobots>
    </pipelines>
  </sitecore>
</configuration>